In [1]:
import pandas as pd
from generatePDF import df2pdf

In [2]:
restaurant_nutrient_df = pd.read_csv('data_source/ms_annual_data_2022.csv')

C:\Users\Michael\AppData\Local\Temp\ipykernel_36160\163685256.py:1: DtypeWarning: Columns (7,13,14,18,20,26,27,30) have mixed types. Specify dtype option on import or set low_memory=False.
  restaurant_nutrient_df = pd.read_csv('data_source/ms_annual_data_2022.csv')

In [3]:
restaurant_nutrient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26238 entries, 0 to 26237
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   matched_2021            26238 non-null  int64
 1   new_item_2022           26238 non-null  int64
 2   menu_item_id            26238 non-null  int64
 3   food_category           26238 non-null  object
 4   restaurant              26237 non-null  object
 5   item_name               26238 non-null  object
 6   item_description        26238 non-null  object
 7   serving_size            12665 non-null  object
 8   serving_size_text       49 non-null     object
 9   serving_size_unit       12214 non-null  object
 10  serving_size_household  4207 non-null   object
 11  calories                25787 non-null  object
 12  total_fat               25536 non-null  float64
 13  saturated_fat           25418 non-null  object
 14  trans_fat               23997 non-null  object
 15  cholesterol             25203 non-null  object
 16  sodium                  25273 non-null  object
 17  carbohydrates           25274 non-null  object
 18  dietary_fiber           24808 non-null  object
 19  sugar                   25195 non-null  object
 20  protein                 25222 non-null  object
 21  potassium               1787 non-null   float64
 22  notes                   40 non-null     object
 23  calories_text           194 non-null    object
 24  total_fat_text          8 non-null      object
 25  saturated_fat_text      8 non-null      object
 26  trans_fat_text          6 non-null      object
 27  cholesterol_text        6 non-null      object
 28  sodium_text             8 non-null      object
 29  carbohydrates_text      8 non-null      object
 30  dietary_fiber_text      6 non-null      object
 31  sugar_text              8 non-null      object
 32  protein_text            8 non-null      object
dtypes: float64(2), int64(3), object(28)
memory usage: 6.6+ MB

In [4]:
restaurant_nutrient_df = restaurant_nutrient_df[['food_category', 'restaurant', 'item_name', 'calories', 'carbohydrates', 'protein', 'total_fat']]

In [5]:
restaurant_nutrient_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26238 entries, 0 to 26237
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   food_category  26238 non-null  object
 1   restaurant     26237 non-null  object
 2   item_name      26238 non-null  object
 3   calories       25787 non-null  object
 4   carbohydrates  25274 non-null  object
 5   protein        25222 non-null  object
 6   total_fat      25536 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.4+ MB

In [6]:
restaurant_nutrient_df = restaurant_nutrient_df.dropna(how='any')

In [7]:
restaurant_nutrient_df

,food_category,restaurant,item_name,calories,carbohydrates,protein,total_fat
0,Soup,Applebee's,French Onion Soup,370,26,16,22.0
1,Soup,Applebee's,Tomato Basil Soup,220,22,5,12.0
2,Soup,Applebee's,Chicken Tortilla Soup,280,26,11,15.0
3,Salads,Applebee's,House Salad,130,14,6,7.0
4,Salads,Applebee's,Oriental Chicken Salad,1560,120,40,103.0
...,...,...,...,...,...,...,...
26232,Entrees,Zaxby's,"20 Boneless Wings, Buffalo Garlic Blaze",1560,95,94.0,90.0
26233,Appetizers & Sides,Zaxby's,"10 Traditional Wings, Buffalo Garlic Blaze",890,9,77.0,60.0
26234,Appetizers & Sides,Zaxby's,"10 Chicken Fingers, Buffalo Garlic Blaze",1150,48,100.0,62.0
26235,Appetizers & Sides,Zaxby's,"10 Boneless Wings, Tongue Torch",680,49,47.0,33.0
26236,Appetizers & Sides,Zaxby's,"10 Boneless Wings, Buffalo Garlic Blaze",780,47,47.0,45.0

In [8]:
# 創建 PDF 文件
pdf_filename = "gpt_assistant_input/restaurant_food_nutrition.pdf"
df2pdf(restaurant_nutrient_df, pdf_filename)

PDF file saved as gpt_assistant_input/restaurant_food_nutrition.pdf